# Git Ignore File

# Do not ignore
!/.gitignore
!/.travis.yml

# Ignore Logs
logs
*.log

# Ignore Folders
.storage
.cloud
.vscode
.Trash-*
deps/
tts/
www/

# Ignored Files
secrets.yaml
ip_bans.yaml
known_devices.yaml
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.db
*.uuid
*.sqlite
cameras.yaml
OZW_Log.txt

# Operating System Trash Files
.DS_Store
